.overlay {
  position: fixed;
  inset: 0;              /* top:0; right:0; bottom:0; left:0; */
  background-color: rgba(255, 254, 254, 0.3); /* 30% opaque */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
.content {
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
}